<form class="form-signin" [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>

    <input formControlName="firstName" class="form-control" placeholder="First Name" required>

    <input formControlName="lastName" class="form-control" placeholder="Last Name" required>

    <input formControlName="email" type="email" class="form-control" placeholder="Email address" required>

    <input formControlName="password" type="password" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>