<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="number"
            subheader="number:'1.2-2'">
            <i class="pi pi-dollar"></i>
            {{ventasNetas | number:'1.2-2'}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="currency"
            subheader="currency:'CLP':'symbol-narrow':'1.4-4'">
            {{ (ventasNetas+1000000) | currency:'CLP':'symbol-narrow':'1.4-4'}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="percent"
            subheader="percent:'2.2-2'">
            {{porcentaje | percent:'2.2-2'}}
        </p-card>
    </div>
</div>